<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
   <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>What is reflective listening <em>and why it is beneficial to your wellness? </em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <div class="fl-right">
                            <img src="app/styles/images/reflective-listening.jpg" width="263" height="186" alt="positive self talk">
                            </div>
                            <ul>
                            	<li> Reflective (or active) listening is the habit of more careful and skilful listening to what is being said by others. </li>
                             <li>The skill of reflective listening is required more and more in today’s society because of the relentless increase in the ‘pace of life’. As a result, you may 
                            <ol>
                            <li>be more frequently rushed </li>
                            <li>experience a heightened sense of urgency  </li>
                            <li>have more deadlines to be met </li>
                            <li>have more appointments to be squeezed into apparently ever shorter time scales. </li>
                            </ol>
                            </li>
								<li>You may experience ‘information overload’ as there are many more sources of communication - and they are 24/7 (i.e. 24 hours a day 7 days a week) - such as:
                                <ol>
                                    <li>e-mail</li>
                                    <li>mobile phones</li>
                                    <li>text/voice mail</li>
                                    <li>internet including wireless connect from almost anywhere </li>
                                    <li>satellite and cable T.V</li> 
                                </ol></li>
                                
                                <li> Direct personal communication has somewhat lessened and our role in the culture of today could be described as one of ‘minimal conversationalists’. </li>
                                
                                <li> You may find yourself 
                            	<ol>
                                	<li>being more impatient when listening to others,</li>
                                    <li>feeling more obliged to complete their statements for them,</li>
                                    <li>not giving sufficient time to try to understand what is really being said,</li>
                                    <li>focussing too often on your own private worlds, looking in as if in a selfinduced trance and thus fail to truly listen to what is being said. </li>
                                </ol></li>
                                <p>This ‘detached’ attitude during conversations prevents you from paying attention to what is being said and may be associated with a higher incidence of physical and psychological ailments.</p>             
                                </div>            
                                </section>
</div>
