<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
      <section id="video" class="content-section">
               <div class="row">
                                        <div class="col-md-12">
                                            <div class="section-heading">
                                                <h1>How you can develop the technique of <em>reflective listening?</em></h1>
                                            </div>
                                                <div class="section-heading">
                                                <ul>
                                                <li>The key is to create space for you to listen and the other person to speak!</li>
                                                <li>This requires that you turn your attention out-wards.</li>
                                                <li> One way for you to start practising reflective listening would be to simply notice and listen to the sounds around you (and this is not necessarily speech) to hear what you been missing. </li>
                                                <li>
                                                 Devote a specific period of your day, about 10 minutes, to deliberately sit down in 
                                                a place where a variety of sounds are likely to naturally occur such as a park, 
                                                practise absorbing the sounds, be curious by trying to identify all the different 
                                                origins of the sounds around you, a bird singing nearby, the rustle of a breeze 
                                                through the leaves of a tree, a plane flying overhead and notice the qualities that 
                                                make each sound unique. 
                                                </li>
                                                <li>
                                                 Clearly there are situations such as being in built up areas in cities which will 
                                                present you with a greater challenge for reflective listening. Solutions include 
                                                using a CD /DVD player for a piece of music where you have to identify all the 
                                                different instruments and voices playing, an audio book where you listen carefully 
                                                to all the changes in: intonation, style, accent and speed of the person reading. 
                                                </li>
                                                <li>
                                                Another approach is to practise this approach in everyday conversations to 
                                                actively listen to someone speaking, to reflect back to them what they have just 
                                                said to you, to ask for confirmation from them how accurately you have reflected 
                                                back what they were saying to you. 
                                                </li>
                                                <li>
                                                You can formally practise reflective listening with another person by setting up 
                                                this exercise: 
                                                <ol>
                                                <li>
                                                The listener for a particular period of time – say 3 minutes - restricts 
                                                him/herself to only asking questions. Then at the end he/she provides a 
                                                short summary back. 
                                                </li>
                                                <li>
                                                The listener for a particular period of time – say 3 minutes - restricts 
                                                him/herself to only asking questions. Then at the end he/she provides a 
                                                short summary back. 
                                                </li>
                                                <li>
                                                 The speaker comments then on the accuracy of the summary. If the
                                                summary was not accurate the process continues until such time as the
                                                speaker feels the listener has accurately understood what was being said.
                                                </li>
                                                <li>
                                                Then reverse the roles.
                                                </li>
                                                </ol></li>
                                                <li>You can improve your listening capability by deliberately using as part of your 
                                                conversational style more open-ended questions such as:
                                                <ol>
                                                    <li> “What do you mean by that?”</li>
                                                    <li> “Would you explain that to me, please?”</li>
                                                    <li> “Can I clarify that you mean.”</li>
                                                </ol>
                                                </li>
                                                <li>Such questions offer a structured way to ensure you listen more.</li>
                                                <li> When your reflective listening skills are improved notice how </li>
                                                <ol>
                                                    <li>your understanding of what has been said increases,</li>
                                                    <li> it becomes easier for you to know what to say in reply,</li>
                                                    <li>you appear to get on better with other people</li>
                                                </ol>
                                                </ul>

                            <p>How are you going to develop the technique of reflective listening? <button  style="background-color: transparent;border:none;" id="button6"><i class="fa fa-microphone" aria-hidden="true"></i></button></p>
                            <div id="column6">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea6" name="text" cols="100" rows="10" class="form-control"></textarea>
</form>
</tr>
</table>
</div>

                             <p>When /Where will you do the reflective listening sitting down exercise? <button  style="background-color: transparent;border:none;" id="button8"><i class="fa fa-microphone" aria-hidden="true"></i></button></p>
                            <div id="column8">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea8" name="text" cols="100" rows="10" class="form-control"></textarea>
</form>
</tr>
</table>
</div>
                            <p>When/ With Whom will you try to actively summarise what you have listened to? <button  style="background-color: transparent;border:none;" id="button9"><i class="fa fa-microphone" aria-hidden="true"></i></button></p>
                            <div id="column9">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea9" name="text" cols="100" rows="10" class="form-control"></textarea>
</form>
</tr>
</table>
</div>
                            <p>When / With Whom will you formally practice reflective listening with? <button  style="background-color: transparent;border:none;" id="button10"><i class="fa fa-microphone" aria-hidden="true"></i></button></p>
                           <div id="column10">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea10" name="text" cols="100" rows="10" class="form-control"></textarea>
</form>
</tr>
</table>
</div>
                            <p>What 2 open ended questions could you introduce into your conversation style? <button  style="background-color: transparent;border:none;" id="button11"><i class="fa fa-microphone" aria-hidden="true"></i></button></p>
                            
                            <div id="column11">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea11" name="text" cols="100" rows="10" class="form-control"></textarea>
</form>
</tr>
</table>
</div>
</br>
                            <p ><button  style="background-color: transparent;border:none;" id="button12"><i class="fa fa-microphone" aria-hidden="true"></i></button></p> 
<div id="column12">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea12" name="text" cols="100" rows="10" class="form-control"></textarea>
</form>
</tr>
</table>
</div>



<br>
<br>


            </section>
      </div>
      <script>

    // status fields and start button in UI
    var textbox45;
    var t1;
    var t2;
    var t3;
    var textarea1;
    var textarea2;
    var textarea3,textarea4,textarea5,textarea6,textarea7,textarea8,textarea9,textarea10,textarea11,textarea12;
    var spechbtn3;
    var button1,button2,button3,button4,button5,button6,button7,button8,button9,button10,button11,button12;
    var b1;
    var b2;
    var b3;

    // subscription key and region for speech services.
    var subscriptionKey, serviceRegion, languageTargetOptions, languageSourceOptions;
    var SpeechSDK;
    var recognizerone;

      button6 = document.getElementById("button6");
      button8 = document.getElementById("button8");
      button9 = document.getElementById("button9");
      button10 = document.getElementById("button10");
      button11 = document.getElementById("button11");
      button12 = document.getElementById("button12");
      subscriptionKey = document.getElementById("subscriptionKey");
      serviceRegion = document.getElementById("serviceRegion");
      textarea6 = document.getElementById("textarea6");
      textarea8 = document.getElementById("textarea8");
      textarea9 = document.getElementById("textarea9");
      textarea10 = document.getElementById("textarea10");
      textarea11 = document.getElementById("textarea11");
      textarea12 = document.getElementById("textarea12");


      
      button11.addEventListener("click", function () {
        button11.disabled = true;
        button11.style.color="red";
        textarea11.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button11.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button11.disabled = false;
            button11.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea11.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button11.disabled = false;
            button11.style.color="black";
            textarea11.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
      button12.addEventListener("click", function () {
        button12.disabled = true;
        button12.style.color="red";
        textarea12.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button12.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button12.disabled = false;
            button12.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea12.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button12.disabled = false;
            button12.style.color="black";
            textarea12.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
      button10.addEventListener("click", function () {
        button10.disabled = true;
        button10.style.color="red";
        textarea10.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button10.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button10.disabled = false;
            button10.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea10.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button10.disabled = false;
            button10.style.color="black";
            textarea10.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
      button9.addEventListener("click", function () {
        button9.disabled = true;
        button9.style.color="red";
        textarea9.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button9.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button9.disabled = false;
            button9.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea9.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button9.disabled = false;
            button9.style.color="black";
            textarea9.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
      button6.addEventListener("click", function () {
        button6.disabled = true;
        button6.style.color="red";
        textarea6.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button6.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button6.disabled = false;
            button6.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea6.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button6.disabled = false;
            button6.style.color="black";
            textarea6.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
      button8.addEventListener("click", function () {
        button8.disabled = true;
        button8.style.color="red";
        textarea8.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button8.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button8.disabled = false;
            button8.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea8.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button8.disabled = false;
            button8.style.color="black";
            textarea8.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
     

      if (!!window.SpeechSDK) {
        SpeechSDK = window.SpeechSDK;
        button6.disabled=false;
        button8.disabled=false;
        button9.disabled=false;
        button10.disabled=false;
        button11.disabled=false;
        button12.disabled=false;
        button6.style.color="black";
        button8.style.color="black";
        button9.style.color="black";
        button10.style.color="black";
        button11.style.color="black";
        button12.style.color="black";
        document.getElementById('column6').style.display = 'block';
        document.getElementById('column8').style.display = 'block';
        document.getElementById('column9').style.display = 'block';
        document.getElementById('column10').style.display = 'block';
        document.getElementById('column11').style.display = 'block';
        document.getElementById('column12').style.display = 'block';
        document.getElementById('warning').style.display = 'none';
      }

  </script>